@import url('https://fonts.googleapis.com/css2?family=Roboto');

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.create_form input {
  width: 200px;
  padding: 10px;
  border-bottom: 2px solid;
  outline: none;
}

.create_form button {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.89);
  color: white;
  cursor: pointer;
}